body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 370px;
}

.cover-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background: #367588;
}

.cover-nav div {
    margin: 0.5vw 0.2vw 1vw;

}

.cover-logo-name {
    display: flex;
    align-items: center;
    justify-content: left;
    height: auto;
    width: 80%;
}

.cover-logo,
.cover-name {
    margin: 0.5vw;
}

.cover-logo {
    height: 30px;
    width: 50px;
}

.cover-sign-in {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 1vw;
    width: 20%;
    z-index: 5;
}

.cover-name {
    color: #FFA500;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.cover-sign-in button {
    color: white;
    background: #FFA500;
    border: none;
    border-radius: 2rem;
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;

    &:hover {
        color: #D3D3D3;
    }
}

.cover-foot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 2vw 0;
    margin-top: 2vw;
    background-color: #367588;
}

.cover-foot span {
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    font-size: 14px;
    line-height: 16px;
}

.cover-foot span a {
    text-decoration: none;
    color: white;

    &:hover {
        text-decoration: underline;
        color: #abbdcf;
    }
}