.terms-conditions{
    display: flex;
    flex-direction: column;
    align-items:start;
    padding: 0 20vw;
    margin-bottom: 8vw;
    font-family: "Lato", serif;
    font-optical-sizing: auto;
    line-height: 1.6;
}

.cover-nav{
    border-bottom: 1px solid black;
}

.cover-foot {
    border-top: 1px solid black;
}

@media (max-width: 700px){
    .terms-conditions{
        padding: 0 15vw;
    }
}

h1,
h2,
h3 {
    color: #367588;
}

a{
    text-decoration: none;
    color: rgba(13, 110, 253, 1);
}

a:hover {
    color: rgba(13, 110, 253, 0.7);
}
