<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- {% load static %} -->
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="/pulseAndPen/static/index.css"> -->
</head>
<body>
    <nav class="navbar">
        <div class="hl">
            <ul class="hl-il">
                <li class="h-home">Home</li>
                <li class="h-categories">Categories</li>
                <li class="h-about">About</li>
                <li class="h-contact">Contact</li>
                <li class="h-create">Create</li>
            </ul>
        </div>
    </nav>

    <div class="one">
        <img src="{% static 'logo.png' %}" alt="">
    </div>
    <div class="two"></div>
</body>
</html>