{% extends 'base1.html' %}

{% block links %}
{% load static%}
<link rel="stylesheet" type="text/css" href="{% static 'signupform.css' %}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="{% static 'signup.js' %}" defer></script>
{% endblock %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="sign-up">
    <div class="sign-up-upper">
        <p>Join now.</p>
    </div>
    <div class="sign-up-lower">
        <form class="sign-up-info">
            <div class="sui-info">
                <div class="first-name-info">
                    <label for="first-name">First name</label>
                    <input class="first-name-input" type="text">
                </div>
                <div class="last-name-info">
                    <label for="last-name">Last name</label>
                    <input class="last-name-input" type="text">
                </div>
                <div class="email-info">
                    <label for="email">Email</label>
                    <input class="email-input" type="email">
                </div>
                <div class="password-info">
                    <label for="password">Password</label>
                    <input type="password" class="password-input">
                </div>
                <div class="incorrect-password-format">
                    <p>Password must be at least 8 characters long and include at least one letter, one number, and one symbol.</p>
                </div>
                <div class="confirm-password-info">
                    <label for="confirm-password">Confirm password</label>
                    <input type="confirm-password" class="confirm-password-input">
                </div>
                <div class="incorrect-confirm-password-format">
                    <p>Passwords don't match.</p>
                </div>
            </div>
            <div class="sui-btns">
                <div class="sign-up-btn">
                    <button class="btn btn-primary">Sign up</button>
                </div>
                <div class="have-acc">
                    <span class="have-acc-inner">Already have an account? <a href="">Sign in</a></span>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}