<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base1.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="{% static 'js/base1.js' %}" defer></script>
    {% block links %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <section class="cover" id="cover">
        <nav class="cover-nav">
            <div class="cover-logo-name">
                {% load static%}
                <img class="cover-logo" src="{% static 'images/logo.png' %}" alt="web logo">
                <p class="cover-name">Pulse & Pen</p>
            </div>
            <div class="cover-sign-in"><button class="cover-sign-in-btn">Sign in</button></div>
        </nav>
        {% block content %}
        {% endblock %}
        <div class="cover-footer">
            <div class="footer-links">
                <span class="help"><a href="{% url 'contact' %}">Contact</a></span>
                <span class="about"><a href="{% url 'about' %}">About</a></span>
                <span class="terms"><a href="{% url 'terms-and-conditions' %}">Terms</a></span>
                <span class="privacy"><a href="{% url 'privacy-policy' %}">Privacy</a></span>
            </div>
            <div class="footer-rights">
                <p>&copy; 2024 Pulse and Pen. All rights reserved.</p>
            </div>
        </div>
        
    </section>


</body>

</html>