{% extends 'pulseAndPenApp/baseInner.html' %}

{% block links %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/blogs.css' %}">
<script src="{% static 'js/blogs.js' %}" defer></script>
{% endblock %}

{% block title %}
Pulse & Pen
{% endblock %}

{% block content %}
<ul class="nav inner-nav nav-fill my-5 mx-3">
    <li class="nav-item blog-nav-item {% if type == 'fashion' %} blog-active {% endif %}">
        <a class="nav-link" href="{% url 'blogs' 'fashion' %}"><span>Fashion</span></a>
    </li>
    <li class="nav-item blog-nav-item {% if type == 'travel' %} blog-active {% endif %}">
        <a class="nav-link" href="{% url 'blogs' 'travel' %}"><span>Travel</span></a>
    </li>
    <li class="nav-item blog-nav-item {% if type == 'technology' %} blog-active {% endif %}">
        <a class="nav-link" href="{% url 'blogs' 'technology' %}"><span>Technology</span></a>
    </li>
    <li class="nav-item blog-nav-item {% if type == 'food' %} blog-active {% endif %}">
        <a class="nav-link" href="{% url 'blogs' 'food' %}"><span>Food</span></a>
    </li>
</ul>
<section class="container-fluid my-5">
    {% if blogs %}
    {% for blog in blogs %}
    <div class="card mb-3 mx-5">
        <div class="row g-0 flex-column-reverse flex-md-row justify-content-md-between">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ blog.title }}</h5>
                    <p class="card-text"><small class="text-body-secondary">by {{ blog.author }} on {{ blog.created_at }}</small></p>
                    <p class="card-text blog-card-content">{{ blog.content }}</p>
                    <a href="{% url 'complete-blog' blog.title|urlencode %}" class="btn btn-primary">Read Blog</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 d-flex justify-content-center align-items-center">
                <img src="{{ blog.thumbnail_url }}" class="img-fluid rounded-start w-100" alt="...">
            </div>
        </div>
    </div>
    {% endfor %}
    {% else%}
    <section class="no-blogs-found d-flex m-5 py-5 align-items-center justify-content-center">
        <p>No Blogs Found</p>
    </section>
    {% endif %}
</section>

<section class="blogs-paginator container-fluid">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if blogs.has_previous %}
            <li class="page-item">
                <a class="page-link bg-warning text-white fs-4"" href="?page={{ blogs.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            <div class="current d-flex align-items-center justify-content-center">
                Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}
            </div>
            {% if blogs.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ blogs.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</section>
{% endblock %}