{% extends 'pulseAndPenApp/baseInner.html' %}

{% load static%}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
<script src="{% static 'js/contact.js' %}" defer></script>
{% endblock %}

{% block title %}
Contact Us
{% endblock %}

{% block content %}
<div class="landing_page">
    <div class="responsive-container-block big-container">
      <img class="bg-img" id="iq5bf" src="https://img.freepik.com/premium-photo/businessman-suit-black-background-hold-phone-icon_150455-2276.jpg?ga=GA1.1.2065481721.1722630367&semt=ais_hybrid">
      <div class="responsive-container-block container">
        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12 left-one">
          <div class="content-box">
            <p class="text-blk section-head">
                We Would Love to Hear from You!
            </p>
            <p class="text-blk section-subhead">
                Whether you have a question about our services, need assistance, or just want to share your thoughts, we’re here to help. Your feedback and inquiries mean a lot to us. Fill out the form and we’ll do our best to respond promptly.
            </p>                      
            <div class="icons-container">
              <a class="share-icon">
                <img width="31" height="31" src="https://img.icons8.com/ios-glyphs/31/228BE6/secured-letter--v1.png" alt="secured-letter--v1"/>
              </a>
              <a class="share-icon">
                <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
              </a>
              <a class="share-icon">
                <img width="31" height="31" src="https://img.icons8.com/material-outlined/31/228BE6/linkedin--v1.png" alt="linkedin--v1"/>
              </a>
              <a class="share-icon">
                <img class="img" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
              </a>
            </div>
          </div>
        </div>
        <div class="responsive-cell-block wk-ipadp-6 wk-tab-12 wk-mobile-12 wk-desk-6 right-one" id="i1zj">
          <form class="form-box" method="post" action="/contact/">
            {% csrf_token %}
            <div class="container-block form-wrapper">
              <p class="text-blk contactus-head">
                Get in <span class="contactus-head-touch">touch</span>
              </p>
              <p class="text-blk contactus-subhead">
                We will get back to you in 24 hours
              </p>
              <div class="responsive-container-block">
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-7">
                  <input class="first-name-input input" id="ijowk-7" name="first_name" placeholder="First Name" required>
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i1ro7">
                  <input class="last-name-input input" id="indfi-5" name="last_name" placeholder="Last Name" required>
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-6 wk-ipadp-6 emial" id="ityct">
                  <input class="email-input input" id="ipmgh-7" name="email" placeholder="Email" required>
                </div>
                <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
                  <input class="phone-number-input input" id="imgis-6" name="phone_number" placeholder="Phone Number" required>
                </div>
                <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-7">
                  <textarea aria-placeholder="Type message here" class="text-input textinput" id="i5vyy-7" placeholder="Type message here" name="message" required></textarea>
                </div>
              </div>
              <button class="submit-btn" type="submit">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="loading-overlay">
    <div class="spinner-border m-5" role="status">
      </div>
</div>
  <!-- Modal -->
<div class="modal fade" id="responseModal" tabindex="-1" aria-labelledby="responseModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-light">
        <div class="modal-header">
          <h5 class="modal-title" id="responseModalLabel">Response</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Message will be dynamically added here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}